Loading and inspecting data

In [1]:
#Loading in pandas
import pandas as pd

In [4]:
#Loading in data 
acne_data = pd.read_csv('Z:/270418_91.csv')
acne_data

C:\Users\tammy\AppData\Local\Temp\ipykernel_25656\1952429446.py:1: DtypeWarning: Columns (0,4,5,6,7,8,10,11,12,13,14,15,16,18,19,20,21,22,23,24,32,40,41,43,318,328,553,562,569,650,651,704,705,712,765,766,767,835,836,837,838,865,1083,1778,2203,2427,2443,3953,4114,4135,4301,4391) have mixed types. Specify dtype option on import or set low_memory=False.
  acne_data = pd.read_csv('Z:/270418_91.csv')

,ID,Repeat_Visit,Consented_Date,Micro_RNA,OldConsent_Q1,OldConsent_Q2,OldConsent_Q3,OldConsent_Q4,OldConsent_Q5,MissingForms,...,RetestVas7,RetestVas8,RetestVas9,RetestVas10,RetestVas11,RetestVas12,RetestVas13,RetestVas14,RetestVas15,PrimaryLast
0,1,,8/8/2001,,1,1,1,1,1,,...,,,,,,,,,,1
1,2,1,10/10/2007,,1,1,1,1,1,,...,,,,,,,,,,1
2,3,,10/24/2007,,1,1,1,1,1,,...,,,,,,,,,,1
3,4,,10/10/2007,,1,1,1,1,1,,...,,,,,,,,,,1
4,5,,10/31/2007,,3,3,3,3,3,,...,,,,,,,,,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,2313,,,,,,,,,,...,,,,,,,,,,
2240,2314,,,,,,,,,,...,,,,,,,,,,
2241,2315,,,,,,,,,,...,,,,,,,,,,
2242,2316,,,,,,,,,,...,,,,,,,,,,
2243,2317,,6/5/2024,,,,,,,,...,,,,,,,,,,

In [ ]:
#Loading in missingno


#Inspecting missing values